#up-icon1, #up-icon2, #up-icon3, #up-icon4, #up-icon5, #up-icon6, #up-icon7 {
    display: none;
}

.top-header {
    margin-top: 40px;
}

.faq {
    margin: 50px 350px 50px;
    width: 700px;
}

.display-none {
    display: none;
}

.same-width {
    display: inline-block;
    width: 500px;
}

hr {
    border: none;
    border-bottom: 1px solid #DEDEDE;;
    width: 550px;
    float: left;
}

h1 {
    margin-bottom: 50px;
}

p {
    font-family: "Times New Roman", serif;
    font-size: 17px;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}

.nav div button {
    vertical-align: middle;
    font-size: large;
    background-color: #00003B;
    color: white;
    border: none;
    margin-top: -50px;
    width: 100px;
    height: 59px;
}

.nav div button:hover {
    border-bottom: 2px solid #ffffff;
    height: 57px;
    margin-top: -48px;
}
